pycache/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.vscode


.venv

secret.txt
*.go
temp/
[cr]at.exe


*.pyc
*.pyo
*.pyd
.Python

.env
.env.test
*.log
.DS_Store
data/*.csv
alembic/versions/pycache/


uploads
/uploads


alembic.ini